@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--basecolorbackground);
}

:root {
    --baseoutlineui: rgb(59, 137, 255);
    --basecolorbackground: rgb(255, 255, 255);

    --borderNav: 5px solid var(--baseoutlineui);
}

